.register-form{
    margin-top: 30%;
}
.register-page{
    background-color: #08374d;
    background-size: cover;
    background-image: url(../assets/imgs/background.jpg);
}
.transparent{
    background-color: transparent;
 }
 .GotoLogin{
    margin-left: 35%;
    margin-top: 20px;
    color: red;
    text-decoration: underline;
 }
 .inputItems{
     color: white;   
 }